.search{
    width: 400px;
    position: relative;
    input{
        width: 100%;
        padding:15px 20px 15px 50px;
        font-size: 23px;
        border-radius: 10px;
        border: 1.5px solid rgba(0,0,0, 0.3);
        &:focus{
            border: 1.5px solid rgba(0,0,0, 0.8);
        }
    }
    .icons{
        position: absolute;
        width: 30px;
        left: 15px;
        top: 14px;
        opacity: .3;
    }
    .iconx{
        position: absolute;
        width: 40px;
        top: 11px;
        opacity: .3;
        right: 5px;
        cursor: pointer;
        &:hover{
            opacity: .6;
        }
    }
}